#caja{
    width: 400px;
    
}

#contenedor{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}

#sumar{
    background-color: rgb(200, 165, 233);
}

#restar{
    background-color: rgb(200, 165, 233);
}

#dividir{
    background-color: rgb(200, 165, 233);
}

#multiplicar{
    background-color: rgb(200, 165, 233);
}

#igual{
    background-color: rgb(200, 165, 233);
}

#borrar{
    background-color: rgb(200, 165, 233);
}

#resultado{
    width: 100%;
}

#pantalla{
    width: 100%;
}
